# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# 1

# Import pandas
import pandas as pd

# Step 1: Load all three datasets
file1_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
file2_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file3_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

# Load the datasets
file1 = pd.read_csv(file1_url)
file2 = pd.read_csv(file2_url)
file3 = pd.read_csv(file3_url)

# Step 2: Define a cleaning function for consistent formatting
def clean_data(df):
    # Standardize column names
    df.columns = (
        df.columns.str.lower()          # Convert to lowercase
              .str.replace(" ", "_")    # Replace spaces with underscores
              .str.replace("st", "state")  # Replace 'st' with 'state'
    )
    
    # Clean and standardize the Gender column
    if "gender" in df.columns:
        df["gender"] = df["gender"].str.strip().str.lower().replace({
            "f": "F", 
            "female": "F", 
            "m": "M", 
            "male": "M", 
            "femal": "F"
        })
    
    # Replace state abbreviations with full names
    state_mapping = {
        "AZ": "Arizona",
        "Cali": "California",
        "WA": "Washington"
    }
    if "state" in df.columns:
        df["state"] = df["state"].replace(state_mapping)
    
    # Replace "Bachelors" with "Bachelor" in the Education column
    if "education" in df.columns:
        df["education"] = df["education"].str.strip().str.replace("Bachelors", "Bachelor", regex=False)
    
    # Remove the % character from Customer Lifetime Value
    if "customer_lifetime_value" in df.columns:
        df["customer_lifetime_value"] = (
            df["customer_lifetime_value"]
            .astype(str)
            .str.replace("%", "", regex=False)
            .astype(float)
        )
    
    # Standardize the Vehicle Class column
    vehicle_class_mapping = {
        "Sports Car": "Luxury",
        "Luxury SUV": "Luxury",
        "Luxury Car": "Luxury"
    }
    if "vehicle_class" in df.columns:
        df["vehicle_class"] = df["vehicle_class"].replace(vehicle_class_mapping)
    
    return df

# Step 3: Apply cleaning function to all three datasets
file1_cleaned = clean_data(file1)
file2_cleaned = clean_data(file2)
file3_cleaned = clean_data(file3)

# Step 4: Combine the cleaned datasets
combined_data = pd.concat([file1_cleaned, file2_cleaned, file3_cleaned], ignore_index=True)

# Step 5: Handle duplicates and reset the index
combined_data = combined_data.drop_duplicates().reset_index(drop=True)

# Output basic information for verification
print("Combined dataset saved to 'combined_cleaned_data.csv'")
print(f"Shape of the combined dataset: {combined_data.shape}")
print("Preview of the combined dataset:")
print(combined_data.head())

Combined dataset saved to 'combined_cleaned_data.csv'
Shape of the combined dataset: (9135, 12)
Preview of the combined dataset:
  custateomer       state gender             education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
3     WW63253  California      M              Bachelor
4     GA49547  Washington      M  High School or Below

  custateomer_lifetime_value   income  monthly_premium_auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
3                 764586.18%      0.0                 106.0
4                 536307.65%  36357.0                  68.0

  number_of_open_complaints     policy_type  vehicle_class  \
0                    1/0/00   Personal Auto  Four-Door Car
1                    1/0/00   Personal Auto  Four-Door Car
2                    1/0/00   Personal Auto   Two-Door Car
3                    1/0/00  Corporate Auto            SUV
4                    1/0/00   Personal Auto  Four-Door Car

   total_claim_amount stateate
0            2.704934      NaN
1         1131.464935      NaN
2          566.472247      NaN
3          529.881344      NaN
4           17.269323      NaN

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [3]:
# 2

# Step 1: Load the dataset
file_path = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv" 
marketing_data = pd.read_csv(file_path)

# Step 2: Drop unnecessary columns
marketing_data.drop(columns=["unnamed:_0"], inplace=True)

# Step 3: Standardize column names
marketing_data.columns = (
    marketing_data.columns.str.lower()  # Convert to lowercase
                  .str.replace(" ", "_")  # Replace spaces with underscores
)

# Step 4: Convert data types
# Convert 'effective_to_date' to datetime
marketing_data["effective_to_date"] = pd.to_datetime(marketing_data["effective_to_date"])

# Convert numeric columns to integers where applicable
numeric_columns = ["customer_lifetime_value", "months_since_last_claim", "number_of_open_complaints", "total_claim_amount"]
for col in numeric_columns:
    marketing_data[col] = marketing_data[col].astype(int)

# Step 5: Standardize categorical values
# Standardize 'gender'
marketing_data["gender"] = marketing_data["gender"].str.strip().str.lower().replace({
    "f": "F", "female": "F", "m": "M", "male": "M", "femal": "F"
})

# Standardize 'vehicle_class'
vehicle_class_mapping = {
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
}
marketing_data["vehicle_class"] = marketing_data["vehicle_class"].replace(vehicle_class_mapping)

# Standardize 'education'
marketing_data["education"] = marketing_data["education"].str.strip().str.replace("Bachelors", "Bachelor", regex=False)

marketing_data

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292,Four-Door Car,Medsize,A,2
1,KX64629,California,2228,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480,SUV,Medsize,A,2
3,XL78013,Oregon,22332,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214,Luxury,Medsize,A,1
10906,KX53892,Oregon,5259,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381,Luxury,Medsize,A,2
10908,WA60547,California,11971,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618,SUV,Medsize,A,2
10909,IV32877,California,6857,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here